<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;" th:object="${prospect}">
    <div class="form-group">
        <label th:for="name">Last Name or Business Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="firstName">First Name</label>
        <input class="form-control" th:field="*{firstName}" />
    </div>
    <div class="form-group">
        <label th:for="referrer">Referrer</label>
        <select name="referrerId">
            <option th:value="0" text="Please Select"></option>
            <option th:each="referrer : ${referrers}"
                    th:text="${referrer.toString()}"
                    th:value="${referrer.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="*{city}" />
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <select th:field="*{state}">
            <option th:each="state : ${states}"
                    th:text="${state.name}"
                    th:value="${state}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="zip">Zip</label>
        <input class="form-control" th:field="*{zip}" />
    </div>
    <div class="form-group">
        <label th:for="phone">Phone</label>
        <input class="form-control" th:field="*{phone}" />
    </div>
    <div class="form-group">
        <label th:for="email" type="email">Email</label>
        <input class="form-control" th:field="*{email}" />
    </div>
    <div class="form-group">
        <label th:for="type">Line Type</label>
        <select th:field="*{type}">
            <option th:each="lineType : ${lineTypes}"
                    th:text="${lineType.name}"
                    th:value="${lineType}">
            </option>
        </select>
    </div>
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <!-- Form code begins -->
                    <form method="post">
                        <div class="form-group"> <!-- Date input -->
                            <label class="control-label" for="quoteDate">Quote Date</label>
                            <input class="form-control" id="quoteDate" name="quoteDate" placeholder="MM/DD/YYY" type="text"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label th:for="premium">Premium</label>
        <input class="form-control" th:field="*{premium}" />
    </div>
    <div class="form-group">
        <label th:for="commissionRate">commissionRate</label>
        <input class="form-control" th:field="*{commissionRate}" />
    </div>
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <!-- Form code begins -->
                    <form method="post">
                        <div class="form-group"> <!-- Date input -->
                            <label class="control-label" for="soldDate">Sold Date</label>
                            <input class="form-control" id="soldDate" name="soldDate" placeholder="MM/DD/YYY" type="text"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:class="checkbox">
        <input type="checkbox" name="thankYou" th:value="${thankYou}"/>
        <label th:for="${thankYou}">Thank You Sent</label>
    </div>

    <input type="submit" value="Edit Prospect" />

</form>

</body>
</html>