<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;" th:object="${prospect}">
    <input type="hidden" th:value="*{id}" name="id"/>
    <input type="hidden" th:value="*{created}" name="created"/>
    <div class="form-group">
        <label th:for="name">Last Name or Business Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="firstName">First Name</label>
        <input class="form-control" th:field="*{firstName}" />
    </div>
    <div class="form-group">
        <label th:for="referrer">Referrer</label>
        <select name="referrerId">
            <option th:value="0" text="Please Select"></option>
            <option th:each="referrer : ${referrers}"
                    th:value="${referrer.id}"
                    th:selected="${referrer.id} == *{referrer?.id}"
                    th:text="${referrer.toString()}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="*{city}" />
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <select th:field="*{state}">
            <option th:each="state : ${states}"
                    th:text="${state.name}"
                    th:value="${state}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="zip">Zip</label>
        <input class="form-control" th:field="*{zip}" />
    </div>
    <div class="form-group">
        <label th:for="phone">Phone</label>
        <input class="form-control" th:field="*{phone}" />
    </div>
    <div class="form-group">
        <label th:for="email" type="email">Email</label>
        <input class="form-control" th:field="*{email}" />
    </div>
    <div class="form-group">
        <label th:for="type">Line Type</label>
        <select th:field="*{type}">
            <option th:each="lineType : ${lineTypes}"
                    th:text="${lineType.name}"
                    th:value="${lineType}">
            </option>
        </select>
    </div>
    <div class="input-group date">
        <labe th:for="quoteDate">Quote Date</labe>
        <input type="text" id="quoteDate" name="quoteDate" class="form-control" value=''/>
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="form-group">
        <label th:for="premium">Premium</label>
        <input class="form-control" th:field="*{premium}" />
    </div>
    <div class="form-group">
        <label th:for="commissionRate">Commission Rate</label>
        <input class="form-control" th:field="*{commissionRate}" />
    </div>
    <div class="form-group">
        <label th:for="commission">Commission</label>
        <input class="form-control" th:field="*{commission}" />
    </div>
    <div class="input-group date">
        <label th:for="soldDate">Sold Date</label>
        <input type="text" id="soldDate" name="soldDate" class="form-control" value='' />
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="checkbox" name="thankYou" id="${thankYou}" th:checked="*{thankYou}" />
        <label th:for="${thankYou}">Thank You Sent</label>
    </div>

    <input type="submit" value="Save Prospect" />

</form>     <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script>
    $('#quoteDate').datepicker({ format:'yyyy-mm-dd',
        clearBtn: true,
        autoclose: true,
        todayHighlight: true})
        var selected = $(this).var();
</script>

<script>
    $('#soldDate').datepicker({ format:'yyyy-mm-dd',
        clearBtn: true,
        autoclose: true,
        todayHighlight: true}).datepicker("setDate", 'now'),
        var selected = $(this).var();
</script>
</body>
</html>