<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;" th:object="${referrer}">
    <div class="form-group">
        <label th:for="name">Last Name</label>
        <input class="form-control" th:field="*{referrerLast}" />
        <span th:errors="*{referrerLast}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="referrerFirst">First Name</label>
        <input class="form-control" th:field="*{referrerFirst}" />
        <span th:errors="*{referrerFirst}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{referrerAddress}" />
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="*{referrerCity}" />
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <select th:field="*{referrerState}">
            <option th:each="state : ${states}"
                    th:text="${state.name}"
                    th:value="${state}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="zip">Zip</label>
        <input class="form-control" th:field="*{referrerZip}" />
    </div>
    <div class="form-group">
        <label th:for="phone">Phone</label>
        <input class="form-control" th:field="*{referrerPhone}" />
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{referrerEmail}" />
    </div>
    <input type="submit" value="Add Referrer" />

</form>

</body>
</html>