<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Title</title>
</head>
<body class="container">
<table class="table">
    <tr>
        <th style="width:40%">User</th>
        <th style="width:40%">First Name</th>
        <th style="width:30%">Last Name</th>

    </tr>

    <tr th:each="user : ${users}">
        <td><a th:href="'/user/view/' + ${user.id}" th:text="${user.username}"></a></td>
        <td th:text="${user.userFirst}"></td>
        <td th:text="${user.userLast}"></td>
    </tr>
</table>

</body>
</html>