<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<h1 th:text="${title}">Default Title</h1>

<p class="error" th:text="${error}"></p>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" th:value="${username}"></input>
                <span class="error" th:text="${username_error}"></span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"></input>
                <span class="error" th:text="${password_error}"></span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"></input>
                <span class="error" th:text="${verify_error}"></span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email"></input>
                <span class="error" th:text="${email_error}"></span>
            </td>
        </tr>
    </table>
    <button type="submit">Sign Up</button>
</form>

</body>
</html>