<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Prospects</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="navigation">
    <a th:href="@{'/user/view/'+${T(org.launchcode.prospector6.controllers.UserController).currentUser.id}}" th:text="${T(org.launchcode.prospector6.controllers.UserController).currentUser.userFirst}">User</a> |
    <a href="/prospect">Prospect List</a> |
    <a href="/referrer">Referrer List</a> |
    <a href="/logout">Log Out</a>
</nav>

</body>
</html>